<div class="text-black text-4xl font-bold leading-10 whitespace-nowrap items-stretch self-stretch mt-5 pt-7">Login to you account</div>
<div class="flex align-middle gap-1.5 mt-1.5">
  <div class="flex text-zinc-400 ">Don’t have an account?</div>
  <div class="flex text-black font-bold">Register</div>
</div>
<%= render partial: "form" %>
