<%= turbo_frame_tag "listing" do %>
  <div class="items-stretch grid grid-cols-2 gap-3.5 mt-4 pb-4 self-start">
    <%= render :partial => "listings/listing", :collection => @listings %>
  </div>
<% end %>
