<header class="flex items-stretch gap-1.5 self-start">
  <div class="flex justify-center text-sunshine text-3xl whitespace-nowrap bg-black font-bold aspect-square items-center h-12 px-4 rounded-lg">R</div>
  <div class="justify-center text-black text-xl self-center grow whitespace-nowrap my-auto">entee.</div>
</header>
